#formulario{
    max-width: 360px;
    margin: 0 auto;

}

h2{
    text-align: center;
}

input[type=text], select{
    width: 100%;
    border-radius: 15px;
    border: 1px solid green;
}

input[type=email], select{
    width: 100%;
    border-radius: 15px;
    border: 1px solid green;
}

input[type=password], select{
    width: 100%;
    border-radius: 15px;
    border: 1px solid green;
}

input[type=button], select{
    width: 100%;
    border-radius: 15px;
    margin: 3px;

}